#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  position: relative;
  background: #eee;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* menu */
.menu {
  min-width: 100px;
  width: 70%;
  max-width: 320px;
  position: absolute;
}

/* menu buttons */
.menu-button {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 30px;
  margin: 15px 10px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 101;
}

.menu-button .bar:nth-of-type(1) {
  margin-top: 0px;
}

.menu-button .bar:nth-of-type(3) {
  margin-top: 10px;
}

.bar {
  position: relative;
  display: block;
  width: 40px;
  height: 2px;
  margin: 10px auto;
  background-color: #000;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-button:hover .bar:nth-of-type(1) {
  transform: translateY(2.5px) rotate(0deg);
}

.menu-button:hover .bar:nth-of-type(2) {
  opacity: 0.9;
}

.menu-button:hover .bar:nth-of-type(3) {
  transform: translateY(-2.5px) rotate(0deg);
}

.cross .bar:nth-of-type(1) {
  transform: translateY(12px) rotate(-45deg);
}

.cross .bar:nth-of-type(2) {
  opacity: 0;
}

.cross .bar:nth-of-type(3) {
  transform: translateY(-12px) rotate(45deg);
}

.cross:hover .bar:nth-of-type(1) {
  transform: translateY(12px) rotate(-35deg);
}

.cross:hover .bar:nth-of-type(2) {
  opacity: 0;
}

.cross:hover .bar:nth-of-type(3) {
  transform: translateY(-12px) rotate(35deg);
}

/* menu items */
.menu-items {
  position: absolute;
  left: 0;
  margin-top: 125px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.menu-item {
  margin-bottom: 40px;
  font-size: 20px;
  text-decoration: none;
  color: #000;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-150%);
  position: relative;
}

.menu-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left;
  transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.menu-item:hover::after {
  width: 100%;
  transform: scaleX(1);
}

.menu-item:not(.hover-off):not(:hover)::after {
  transition-delay: 0.3s;
}

.menu-item .hover-off:not(:hover)::after {
  width: 0;
  transform: scaleX(0);
}

.menu-items.visible a {
  transform: translateX(0);
}

/* overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: 99;
  display: none;
  transition: opacity 0.3s ease-in-out;
}

.overlay.visible {
  display: block;
  pointer-events: auto;
}

/* swiper */
.swiper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  text-align: center;
  height: 100vh;
}

.swiper-slide div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: 100vh;
}

.swiper-slide div a {
  text-decoration: none;
  color: #000;
  position: relative;
}

.swiper-slide div a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.swiper-slide div a:hover::after {
  transform: scaleX(1);
}

.swiper-slide div a:not(.hover-off):not(:hover)::after {
  transition-delay: 0.3s;
}

.swiper-slide div a.hover-off:not(:hover)::after {
  transform: scaleX(0);
}

/* animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}
