#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  position: relative;
  background: #eee;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.menu {
  min-width: 100px;
  width: 70%;
  max-width: 320px;
}

.menu-button {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 30px;
  margin: 15px 10px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1000;
}

.menu-button .bar:nth-of-type(1) {
  margin-top: 0px;
}

.menu-button .bar:nth-of-type(3) {
  margin-top: 10px;
}

.bar {
  position: relative;
  display: block;
  width: 40px;
  height: 2px;
  margin: 10px auto;
  background-color: #000;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-button:hover .bar:nth-of-type(1) {
  transform: translateY(2.5px) rotate(0deg);
}

.menu-button:hover .bar:nth-of-type(2) {
  opacity: 0.9;
}

.menu-button:hover .bar:nth-of-type(3) {
  transform: translateY(-2.5px) rotate(0deg);
}

.cross .bar:nth-of-type(1) {
  transform: translateY(9.5px) rotate(-45deg);
}

.cross .bar:nth-of-type(2) {
  opacity: 0;
}

.cross .bar:nth-of-type(3) {
  transform: translateY(-15px) rotate(45deg);
}

.cross:hover .bar:nth-of-type(1) {
  transform: translateY(12.5px) rotate(-40.5deg);
}

.cross:hover .bar:nth-of-type(2) {
  opacity: 0;
}

.cross:hover .bar:nth-of-type(3) {
  transform: translateY(-12.5px) rotate(40.5deg);
}

.menu-items {
  position: absolute;
  left: 0;
  margin-top: 115px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.menu-items a {
  margin-bottom: 40px;
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

.menu-items a:hover {
  text-decoration: underline;
}

.swiper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  color: #000;
  text-align: center;
  height: 100vh;
}

.swiper-slide div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  position: relative;
  text-align: center;
  height: 100vh;
}

.swiper-slide div a {
  text-decoration: none;
  color: #000;
  position: relative;
}

.swiper-slide div a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: center;
}

.swiper-slide div a:hover {
  position: relative;
}

.swiper-slide div a:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  animation: slideUnderline 0.3s ease-in-out forwards;
}

.swiper-slide div a:not(.hover-off):not(:hover)::after {
  transition-delay: 0.3s;
  animation: none;
}

.swiper-slide div a.hover-off:not(:hover)::after {
  animation: slideUnderlineReverse 0.3s ease-in-out forwards;
}

@keyframes slideUnderline {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes slideUnderlineReverse {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes slideUnderline {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}
